.ticker{
    border-bottom: 1px solid rgb(233, 236, 239) !important;
    padding:10px;
}

.mantine-Accordion-label {
    font-family: IntegralCF-Regular;
}

.mantine-hgwlez {
    font-size: 14px;
    color: rgb(73, 80, 87);
}


#the-modal-title{
    width: 100%;
}
.linkedin-back{
    background: "#0077B5";
    background-color: "#0077B5";
}
